<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description | safe }}" />
    <meta name="author" content="Suraj Wate" />
    <meta name="keywords" content="Data Science, Machine Learning, Python" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:description" content="{{ description | safe }}" />
    {# <meta property="og:image" content="{{ image | default('/images/default-thumbnail.jpg') }}" /> #}
    <meta property="og:site_name" content="Suraj Wate's Blog" />
    
    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description | safe }}" />
    {# <meta name="twitter:image" content="{{ image | default('/images/default-thumbnail.jpg') }}" /> #}

    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"> <!-- Prism CSS -->
    <!-- Font Awesome for Icons -->
    <script src="https://kit.fontawesome.com/c39a85ddd3.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.webmanifest">

    <!-- IndieAuth -->
    <link rel="me" href="https://fosstodon.org/@suraj">
    <link rel="me" href="https://github.com/surajwate">
    <link rel="me" href="https://twitter.com/surajwate">
    <link rel="me" href="https://linkedin.com/in/surajwate">
    <link rel="webmention" href="https://webmention.io/surajwate/webmention">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/978">

    {% block head %}    {% endblock %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3VGQDQ5YQV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3VGQDQ5YQV');
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="logo">Suraj Wate</a>
            <button class="nav-toggle" aria-label="Toggle navigation">
                <span class="hamburger"></span>
            </button>
            <ul class="nav-links">
                <li><a href="/blog"><i class="fa-regular fa-newspaper"></i> Blog</a></li>
                <li><a href="/projects"><i class="fa-solid fa-laptop-code"></i> Projects</a></li>
                <li><a href="/about"><i class="fas fa-user"></i> About Me</a></li>
                <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
            {{ content | safe }}
        {% endblock content %}
    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Suraj Wate. All rights reserved.</p>
        </div>
    </footer>
    <!-- Prism JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-python.min.js"></script>
    <script>
        const navToggle = document.querySelector('.nav-toggle');
        const navLinks = document.querySelector('.nav-links');
        
        navToggle.addEventListener('click', () => {
            navLinks.classList.toggle('active'); // Show/hide the navigation links
            navToggle.querySelector('.hamburger').classList.toggle('active'); // Animate the hamburger icon
        });
    </script>
    
</body>
</html>