{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/post.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
        }
      };
    </script>
{% endblock %}

{% block content %}
<div class="post-container">
  <h1>{{ title }}</h1>
  <p class="post-date">{{ date | readableDate }}</p>
  {{ content | safe }}
</div>
<a href="/blog" class="back-to-blog">← Back to Blog</a>
{% endblock %}
