{% extends "layouts/base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="/assets/css/post.css" />

<!-- Custom Prism CSS -->
<link rel="stylesheet" href="/assets/css/prism-custom.css">

<meta property="og:type" content="article" />

<script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [
                ["$", "$"],
                ["\\(", "\\)"],
            ],
            displayMath: [
                ["$$", "$$"],
                ["\\[", "\\]"],
            ],
        },
    };
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ title }}",
        "description": "{{ description }}",
        "datePublished": "{{ date }}",
        "author": {
            "@type": "Person",
            "name": "Suraj Wate"
        },
        "publisher": {
            "@type": "Person",
            "name": "Suraj Wate's Blog"
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | url }}"
        },
        "image": ["/path/to/lead-image.png"],
        "articleSection": "{% for category in categories %}{{ category }}{% if not loop.last %}, {% endif %}{% endfor %}",
        "keywords": "{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}",
        "inLanguage": "en"
    }
</script>

{% endblock %} {% block content %}
<div class="post-container container">
    <h1>{{ title }}</h1>
    <p class="post-date">{{ date | readableDate }}</p>
    {{ content | safe }}

<a href="/blog" class="back-to-blog">← Back to Blog</a>

<!-- Add Giscus Comment Section Here -->


    <section id="giscus-comments">
        <script
            src="https://giscus.app/client.js"
            data-repo="surajwate/surajwate.github.io"
            data-repo-id="R_kgDOMRXrqQ"
            data-category="General"
            data-category-id="DIC_kwDOMRXrqc4CiRIe"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async
        ></script>
    </section>
</div>

<a href="/blog" class="back-to-blog">← Back to Blog</a>

{% endblock %}
