{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/project.css">

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:description" content="{{ description | safe }}" />
    {# <meta property="og:image" content="{{ image | default('/images/default-thumbnail.jpg') }}" /> #}
    <meta property="og:site_name" content="Suraj Wate's Portfolio" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description | safe }}" />
    {# <meta name="twitter:image" content="{{ image | default('/images/default-thumbnail.jpg') }}" /> #}
{% endblock %}

{% block content %}
<div class="project-container">
  <h1>{{ title }}</h1>
  <p class="project-date">Created on: {{ date | readableDate }}</p>
  <div class="project-content">
    {{ content | safe }}
  </div>
</div>
{% endblock %}
