{% extends "layouts/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/project.css">

    <!-- Custom Prism CSS -->
  <link rel="stylesheet" href="/assets/css/prism-custom.css">
  <!--- Custom Table Styles -->
  <link rel="stylesheet" href="/assets/css/table-styles.css">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "CreativeWork",
        "name": "{{ title }}",
        "description": "{{ description }}",
        "author": {
          "@type": "Person",
          "name": "Suraj Wate"
        },
        "datePublished": "{{ date | readableDate }}",
        "url": "{{ page.url | url }}",
        "keywords": "{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}",
        "inLanguage": "en",
        "publisher": {
          "@type": "Person",
          "name": "Suraj Wate"
        }
      }
      </script>
      

{% endblock %}

{% block content %}
<div class="project-container container">
  <h1>{{ title }}</h1>
  <p class="project-date">Created on: {{ date | readableDate }}</p>
  <div class="project-content">
    {{ content | safe }}
  </div>
</div>
{% endblock %}
