.diary-entry-container h1 {
    font-size: 2.4rem;
    color: var(--primary-color);
    margin-bottom: 0em;
    font-family: "Lora", serif;
}

.diary-entry-date {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 2em;
    font-style: italic;
    text-decoration: underline var(--primary-color);
}

.diary-entry-content {
    font-size: 1.0em;
    line-height: 1.8;
    color: var(--text-color);
    font-family: "Lora", serif;
    text-align: justify;
}

.diary-tags {
    margin-top: 2em;
    font-style: italic;
    color: var(--text-light-color);
}

.diary-tags strong {
    color: var(--primary-color);
}

/* Back to Blog link - Minimalistic */
.back-to-diary {
    display: block;
    text-align: center;
    margin-top: 2em; /* Adds space between the content and the link */
    color: var(--primary-color); /* Use your primary color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make it stand out */
    font-size: 1.1rem; /* Slightly larger text */
  }
  
  .back-to-diary:hover {
    color: var(--secondary-color); /* Change color on hover */
    text-decoration: underline; /* Subtle hover effect */
  }

  /* Ensure Giscus section is properly aligned and spaced */
#giscus-comments {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #e0e0e0;
    max-width: 1000px; /* Align with the rest of the content */
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5em; /* Same padding as the post content */
  }