
.home-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 4em 2em;
  background-color: transparent; /* No background */
  color: var(--text-color); /* Use the default text color */
  border-radius: 0; /* Remove rounded borders */
  box-shadow: none; /* No shadows */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}


.home-container h1 {
  font-size: 3rem;
  margin-bottom: 1.5em;
  color: var(--primary-color); /* Primary color for the heading */
  text-shadow: none; /* Remove shadow */
}

.home-container p {
  font-size: 1.25em;
  line-height: 1.8;
  margin-bottom: 2em;
  color: var(--text-color); /* Standard text color */
}


.home-container ul {
  list-style: none;
  padding: 0;
}

.home-container li {
  display: inline-block;
  margin: 0 1em;
}

.home-container a {
  padding: 12px 24px;
  background-color: var(--primary-color); /* Primary color for the button */
  color: white;
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home-container a:hover {
  background-color: var(--secondary-color); /* Change color on hover */
}


@media (max-width: 768px) {
  .home-container {
      padding: 2em 1em;
  }

  .home-container h1 {
      font-size: 2.5rem;
  }

  .home-container p {
      font-size: 1.1em;
  }

  .home-container a {
      display: block;
      margin: 1em 0;
  }
}

