/* post.css */

img {
  max-width: 100%;
  height: auto;
}

/* Post title */
.post-container h1 {
  color: var(--primary-color);
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 0em;
  font-weight: 700;
  line-height: 1.2em;
}

.post-container h2, .post-container h3 {
  color: var(--primary-color);
  margin-bottom: 1.2em;
  font-size: 2rem;
  font-weight: 600;
}

/* Post content */
.post-container p {
  line-height: 1.8;
  margin-bottom: 1.8em;
  color: var(--text-color);
  text-align: justify;
  /* font-size: 1.1rem; */
}

.post-container .post-date {
  text-align: left;
  color: var(--text-light-color);
  font-size: 1em;
  margin-bottom: 2em; /* Add more space between date and content */
}

.post-container ul {
  list-style-type: disc; /* Standard bullet points */
  padding-left: 1.5em; /* Slightly increased padding for better indentation */
  margin-bottom: 1.5em; /* Space after the list */
  text-align: left;
}

.post-container ul li {
  display: list-item; /* Standard list item display */
  margin-bottom: 0.75em; /* Increased spacing between list items */
}

.post-container ol {
  list-style-type: decimal; /* Numbered list */
  padding-left: 1.5em; /* Similar indentation as unordered list */
  margin-bottom: 1.5em; /* Space after the list */
  text-align: left;
}

.post-container ol li {
  display: list-item; /* Standard list item display */
  margin-bottom: 0.75em; /* Increased spacing between list items */
}

/* Back to Blog link - Minimalistic */
.back-to-blog {
  display: block;
  text-align: center;
  margin-top: 2em; /* Adds space between the content and the link */
  color: var(--primary-color); /* Use your primary color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make it stand out */
  font-size: 1.1rem; /* Slightly larger text */
}

.back-to-blog:hover {
  color: var(--secondary-color); /* Change color on hover */
  text-decoration: underline; /* Subtle hover effect */
}

/* Ensure Giscus section is properly aligned and spaced */
#giscus-comments {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;
  max-width: 1000px; /* Align with the rest of the content */
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em; /* Same padding as the post content */
}

@media (max-width: 768px) {
  /* Positioning the nav-links for mobile */
  .nav-links {
      align-items: flex-start;
      padding-left: 20%;
  }

}
