/* post.css */

img {
  max-width: 100%;
  height: auto;
}

.post-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  background-color: transparent; /* No background */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove shadow */
}

.post-container h1 {
  color: var(--primary-color);
  text-align: left;
  font-size: 2.5rem; /* Larger heading */
  margin-bottom: 1.5em;
}

.post-container p {
  line-height: 1.8;
  margin-bottom: 1.5em;
  color: var(--text-color);
  text-align: justify;
}

.post-container .post-date {
  text-align: left;
  color: var(--text-light-color);
  margin-bottom: 1.5em;
}

.post-container ul {
  list-style-type: disc; /* Restore the default list style */
  padding-left: 20px; /* Add some padding for better readability */
  text-align: left; /* Align list items to the left */
}

.post-container ul li {
  display: list-item; /* Ensure list items are displayed as list items */
  margin: 0 0 0.5em 0; /* Add some spacing between list items */
}

.post-container ol {
  list-style-type: decimal; /* Restore the default ordered list style */
  padding-left: 20px; /* Add some padding for better readability */
  text-align: left; /* Align list items to the left */
}

.post-container ol li {
  display: list-item; /* Ensure list items are displayed as list items */
  margin: 0 0 0.5em 0; /* Add some spacing between list items */
}

.post-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

.post-container th, .post-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.post-container th {
  background-color: var(--primary-color);
  color: white;
}
