.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em; /* Consistent padding */
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.about-container h1, .about-container h2 {
  color: var(--primary-color);
  text-align: left;
  margin-bottom: 1.0em;
}

.about-container p {
  line-height: 1.8;
  margin-bottom: 1.5em;
  color: var(--text-color);
  text-align: justify;
}

.about-container ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.about-container ul li {
  display: inline;
  margin: 0 1em;
}

.about-container ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

.about-container ul li a:hover {
  color: var(--secondary-color);
}
