.contact-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em; /* Adjust padding for better alignment */
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.contact-container h1, .contact-container h2 {
  color: var(--primary-color);
  text-align: left;
  margin-bottom: 1.5em;
}

.contact-container p {
  line-height: 1.8;
  margin-bottom: 1.5em;
  color: var(--text-color);
  text-align: justify;
}

/* Contact methods and form styling */
.contact-methods, .contact-form {
  margin-bottom: 2em;
}

.social-media-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-media-links li {
  display: inline;
  margin: 0 0.5em;
}

.social-media-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.social-media-links a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.contact-form iframe {
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
}

@media (max-width: 640px) {
  .contact-container {
    padding: 1em;
  }

  .contact-form iframe {
    width: 100%;
    height: auto;
  }
}
