.home-container {
  max-width: 1000px; /* Consistent with other containers */
  margin: 0 auto;
  padding: 3em 1.5em; /* Adjusted for uniformity */
  background-color: transparent;
  color: var(--text-color);
  border-radius: 0;
  box-shadow: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 80vh; */
}

.home-container h1 {
  font-size: 3rem;
  margin-bottom: 1.5em;
  color: var(--primary-color);
}

.home-container p {
  font-size: 1.15em;
  line-height: 1.8;
  margin-bottom: 2em;
  color: var(--text-color);
}

.home-container ul {
  list-style: none;
  padding: 0;
}

.home-container li {
  display: inline-block;
  margin: 0 1em;
}



@media (max-width: 768px) {
  .home-container {
    padding: 2em 1em;
  }

  .home-container h1 {
    font-size: 2.5rem;
  }

  .home-container p {
    font-size: 1.1em;
  }

  .home-container a {
    display: block;
    margin: 1em 0;
  }
}
