/* Project title */
.project-container h1 {
  color: var(--primary-color); 
  text-align: left;
  font-size: 2.5rem;
  /* margin-bottom: 0.5em; */
  line-height: 1.2em;
  display: block;
}

.project-container h3 a {
  font-size: 1.8rem;
}

/* Project date */
.project-container .project-date {
  color: var(--text-light-color);
  font-size: 1em;
  margin-bottom: 1.5em; /* Add spacing between date and content */
  display: block;
  text-align: left;
}

/* Project content */
.project-container .project-content {
  line-height: 1.8;
  color: var(--text-color);
  text-align: justify;
  margin-bottom: 2em; /* Add margin below the content */
}
